.not-found-container {
    width: 50%;
    margin: 73px auto;
    text-align: center;
}

.not-found-container h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    color: red;
    font-weight: 900;
}
.not-found-container h2 {
    font-size: 2rem;

}
.back-home{
    font-size: 20px;
    margin-left: 10px;
}
